@page
@using Softuni_Fest.Models
@using System.Globalization
@model Softuni_Fest.Pages.CatalogModel
@{
    ViewData["Title"] = "Catalog";
    CultureInfo bgCulture = new CultureInfo("en-BG");
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary" style="font-size: 300%;">Products Catalog</h2>
            <hr style="width:350px"/>
        </div>
        @if (User.IsInRole(Roles.Business))
        {
            <div class="col-6">
                <a asp-page="Create" class="btn btn-primary" style="margin-left:70%; margin-top: 2%">Create new product</a>
            </div>
        }
    </div>

    <br /> <br />
    <table class="table table-bordered table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th style="text-align: center;">Price</th>
                @if (User.IsInRole(Roles.Client))
                {
                    <th style="text-align:center">Quantity</th>
                    <th style="text-align:center">Options</th>
                }
                else
                {
                    <th style="text-align: center;">Options</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach(var product in await Model.GetProductsForCurrentUser())
            {
                <tr>
                    <td width="20%">@product.ProductName</td>
                    <td width="30%">@product.ProductDescription</td>
                    <td width="10%">@((product.ProductPrice / 100m).ToString("C2", bgCulture))</td>
                    @if (User.IsInRole(Roles.Client))
                    {
                        <form id="addItemForm" method="post" asp-page-handler="AddItemToCart" asp-route-productId="@product.Id">
                            <td width="10%" style="text-align:center;"><input asp-for="@Model.ProductQuantity" /></td>
                            <td style="text-align:center"><a href="#" onclick="addItemToCart()" class="btn btn-danger" style="text-align:center">Buy</a></td>

                        </form>
                    }
                    else
                    {
                        <form id="deleteItemForm" method="post" asp-page-handler="Delete">
                            <td width="20%" style="text-align: center;">
                              <a href="#" onclick="deleteItem()" class="btn btn-danger">Delete</a>
                            </td>
                        </form>
                    }
                </tr>
            }
        </tbody>
    </table>

    <script src="~/js/catalog.js"></script>
</div>
