@page
@using Softuni_Fest.Models
@using System.Globalization
@model Softuni_Fest.Pages.CatalogModel
@{
    ViewData["Title"] = "Catalog";
    CultureInfo bgCulture = new CultureInfo("en-BG");
}

<div class="container p-3">
    <form class="d-flex">
        <input class="form-control me-sm-2" style="width: 20%" type="text" asp-for="SearchTerm" placeholder="Search">
        <button class="btn my-2 my-sm-0" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
        </button>
    </form>
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary" style="font-size: 300%;">Product Catalog</h2>
        </div>
        @if (User.IsInRole(Roles.Business))
        {
            <div class="col-6">
                <a asp-page="Create" class="btn btn-primary" style="margin-left:70%; margin-top: 2%">Create new product</a>
            </div>
        }
    </div>
    <br /> <br />
    <table class="table table-bordered table-striped" style="width=100%">
        <thead>
            <tr>
                <th style="text-align: center">Name</th>
                <th style="text-align: center">Price</th>
                @if (User.IsInRole(Roles.Business))
                {
                    <th style="text-align: center">Options</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach(var product in Model.Products)
            {
                <tr>
                    <td width="20%">
                        @if (User.IsInRole(Roles.Business))
                        {
                            <a class="nav-link">@product.ProductName</a>
                        }
                        else
                        {
                            <a class="nav-link" asp-page="/Product" asp-route-productId="@product.Id">@product.ProductName</a>
                        }
                    </td>
                    <td width="20%">@((product.ProductPrice / 100m).ToString("C2", bgCulture))</td>
                    @if(User.IsInRole(Roles.Business))
                    {
                        <form id="deleteItemForm" method="post" asp-page-handler="Delete" asp-route-productId="@product.Id">
                            <td width="20%" style="text-align: center;">
                              <button type="submit" class="btn btn-danger">Delete</button>
                            </td>
                        </form>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
