@page "/cart"
@using Softuni_Fest;
@using System.Globalization
@model Softuni_Fest.Pages.OrdersModel
@{
    CultureInfo bgCulture = new CultureInfo("en-BG");
    ViewData["Title"] = "Cart";

}
<h1 class="text-center">Cart</h1>

<div class="container p-3">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    @if (Model.OrderItems is not null && Model.OrderItems.Count > 0)
    {
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Option</th>
                </tr>
            </thead>
            <tbody>
                <form id="orderItemQuantity" class="form-inline" method="post">
                @foreach (var orderItem in Model.OrderItems)
                {
                    Product? product = await Model.GetProductAsync(orderItem.ProductId);
                    if (product is null)
                        continue;

                    SelectList quantityOptions = new SelectList(Model.Quantities);

                    <tr data-order-item-id="@orderItem.Id">
                        <td id="productName" width="30%">
                            @product.ProductName
                        </td>
                        <td id="productPrice" width="10%">
                            @((product.ProductPrice / 100m).ToString("C2", bgCulture))
                        </td>
                        <td>
                            <select name="quantitySelect" asp-items="quantityOptions" asp-for="@orderItem.Quantity" class="quantitySelect">
                            </select>
                        </td>
                        <td>
                            <button asp-page-handler="RemoveItem" asp-route-orderItemId="@orderItem.Id" type="submit" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                }
                </form>
            </tbody>
        </table>
        <div class="row pt-4">
            <div class="col-6" id="totalPrice">
                <p>Price: <partial name="_PricePartial" model="@Model.TotalPrice"></p>
            </div>
        </div>
        <form id="checkoutForm" class="form-inline" asp-page-handler="Checkout">
            <div class="row pt-4">
                <div class="col-6">
                    <a id="checkoutButton" onclick="checkout()" class="btn btn-primary" style="width:40%; margin-left: 82%">Buy</a>
                </div>
            </div>
        </form>
        <div id="checkout">

        </div>
    }
    else
    {
        <h1>No products in cart</h1>
    }
    @section scripts{
        <script src="https://js.stripe.com/v3/"></script>
        <script src="~/js/order.js"></script>
    }

</div>
